#mainHTML{

    overflow-x: hidden;

}

#mainContainer{

    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height:  100%;
   
}

#menuBar{

    position: relative;
    display: flex;
    background-color: rgb(69, 136, 198);
    justify-content: center;
    align-items: center;
    height: 10%;

}

.menuButton{

    position: relative;
    width: fit-content;
    height: fit-content;
    margin-left: 3%;
    margin-right: 3%;
    right: 0px;
    margin-right: 0%;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    cursor: pointer;
    font-size: 150%;
    text-align: center;
    font-family: sans-serif;
    color: white;
    border-left: 0.25vh white dashed;
    border-right: 0.25vh white dashed;

}


#sampleText{

    position: absolute;
    width: fit-content;
    height: fit-content;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 6vh;

}